* {
    margin: 0;
    padding: 0;
    }

body{
    min-width: 100%;
    font-family: 'Raleway', sans-serif;
}

section {
    width: 100%;
}

.home {
    background-image: url("\\images\\home_bg.jpg");
    height: 1080px;
    background-repeat: no-repeat;
    background-size: 100% 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myName {
    font-size: 90px;
}

