* {
    margin: 0;
    padding: 0;
    }

body{
    min-width: 100%;
    font-family: 'Raleway', sans-serif;
}

.nav {
    border-bottom: #d9d9d9 solid 1px ;
    background-color: #bfbfbf;
}

.home {
    background-image: url("/images/home_bg.jpg");
    height: 1080px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 1080px;
}