* {
    margin: 0;
    padding: 0;
}

.navbar-brand{
    font-family: 'Raleway', sans-serif;
}

.home {
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-bottom: black 1px solid;
}

.home-heading {
    font-size: 3.0rem;
}

.about {
    background: linear-gradient(#9198e5, #e66465);
    min-width: 100% ;
    border-bottom: black 1px solid;
}

.about-heading {
    text-align: center;
    font-size: 2.5rem;
}

.about-para {
    text-align: center;
}

.profile-pic {
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
}

.rm-bullets {
    list-style-type: none;
}

.about-items {
    font-size: x-large;
    margin-top: 3px;
    margin-bottom: 3px;
}

.contact {
    background: linear-gradient(#e66465, #9198e5);

}

.social-links {
    text-decoration: none;
    color: black;
}